<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/online">
<head>
    <title>Topics | JF</title>
    <style type="text/css">
		form{
			height: 60px;
		}
	</style>
	<script type="text/javascript">
		function submit(){
			$("#form").submit();
		}
	</script>
</head>
<body>
    <main layout:fragment="content">
        <article class="container" style="padding: 3% 0 2%;">
        	<section class="row">
        		<img src="/images/njit.jpg" alt="" class="circle" width="180px" height="60px"/>
				    <form id="form" th:action="@{'/search/'+${category_id}+'/1'}" class="right">
				    	<table>
				    		<tr>
				    			<td style="padding: 0px 0px;"><input id="in1" type="text" th:if="${isSearch!=false}" name="title" class="search" placeholder="请输入相关标题关键字" style="border: 1px solid #FF6347;width: 380px;height: 30px; margin: 0 0 0 0;"/></td>
				    			<td style="padding: 0px 0px;"><input id="in2" type="button" th:if="${isSearch!=false}" value="搜索" class="btn" onclick="submit()" style="width: 100px;height: 30px;line-height：0px;"/></td>
				    		</tr>
				    	</table>
				    </form>
        	</section>
            <header class="row">
                <blockquote class="flow-text left" th:text="${header}">Header</blockquote>
                <blockquote class="flow-text right" th:text="|话题数量： | + ${topicsTotalNum}">Number of topics</blockquote>
            </header>
            <section class="row">
                <div class="col s12">
                    <table class="striped bordered centered" th:if="${topics.size() != 0}">
                        <thead>
                        <tr>
                            <th>评论数</th>
                            <th>标题</th>
                            <th>作者</th>
                            <th>创建时间</th>
                            <th>Enter</th>
                        </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="topic : ${topics}">
                                <tr>
                                    <td th:text="${answerDao.countAnswersByTopic_Id(topic.getId())}">Number of answers</td>
                                    <td th:text="${topic.getTitle()}">Topic's title</td>
                                    <td>
                                    <a th:href="@{'/profile/' + ${topic.getIdUser()}}">
                                            <div class="chip" th:text="${userDao.getUsernameById(topic.getIdUser())}">Topic's author</div>
                                        </a>
                                    </td>
                                    
                                    <td th:text="${topic.displayParsedCreatedDate()}">Topic's created date</td>
                                    <td>
                                        <a th:href="@{'/topic/' + ${topic.getId()}}" class="btn btn-floating pulse">
                                            <i class="material-icons">arrow_forward</i>
                                        </a>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
						<ul class="pagination center">
							<li class="disabled"><a th:href="@{'/topics/'+${category_id}+'/'+ ${currentPage-1}}"  th:if="${isUserTopicPage==false}"><i class="material-icons" th:if="${currentPage>1}">chevron_left</i></a></li>
							<li class="disabled"><a th:href="@{'/topics/user/' + ${user.getId()} + '_'+ ${currentPage-1}}" th:if="${isUserTopicPage==true}"><i class="material-icons" th:if="${currentPage>1}">chevron_left</i></a></li>
							
							<li class="active"><a th:href="@{'/topics/'+${category_id}+'/'+ ${currentPage}}" th:text="${currentPage}">page</a></li>
							
							<!-- <li class="active"><a th:href="@{'/topics/'+${category}+'/'+ ${page}}" th:if="${currentPage==page}" th:text="${page}">page</a></li>
							<li class="waves-effect"><a th:href="@{'/topics/'+${category}+'/'+ ${page}}" th:if="${currentPage!=page}" th:text="${page}">page</a></li> -->
							
							<!-- <li class="active"><a th:href="@{'/topics/'+${category}+'/2'}" th:if="${currentPage==2}">2</a></li>
							<li class="waves-effect"><a th:href="@{'/topics/'+${category}+'/2'}" th:if="${currentPage!=2}">2</a></li>
							
							<li class="active"><a th:href="@{'/topics/'+${category}+'/3'}" th:if="${currentPage==3}">3</a></li>
							<li class="waves-effect"><a th:href="@{'/topics/'+${category}+'/3'}" th:if="${currentPage!=3}">3</a></li>
							
							<li class="active"><a th:href="@{'/topics/'+${category}+'/4'}" th:if="${currentPage==4}">4</a></li>
							<li class="waves-effect"><a th:href="@{'/topics/'+${category}+'/4'}" th:if="${currentPage!=4}">4</a></li> -->
							
							<li class="waves-effect"><a th:href="@{'/topics/'+${category_id}+'/'+ ${currentPage+1}}" th:if="${isUserTopicPage==false}"><i class="material-icons" th:if="${hasNext}">chevron_right</i></a></li>
							<li class="waves-effect"><a th:href="@{'/topics/user/'+${user.getId()}+'_'+ ${currentPage+1}}" th:if="${isUserTopicPage==true}"><i class="material-icons" th:if="${hasNext}">chevron_right</i></a></li>
						</ul>
			</div>
            </section>
        </article>
    </main>
</body>
</html>